body{
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto Slab', serif;
    color: #1b1b1b;
}

.flexbox-container{
     display: -ms-flex;
     display: flex;
     display: -webkit-flex; 
}

a{
    text-decoration: none;
    color: #1b1b1b;
}

h3{
    font-family: 'Fjalla One', sans-serif;
    
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}
h4{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin: 15px 0 5px;
}

/*=============================================
                HEADER-FOOTER STYLES
==============================================*/

header{
    border-bottom: 1px solid #e2e2e2;
}

header,footer{

     background: #fff;
     align-items: center;
     padding: 10px;
     font-family: 'Fjalla One', sans-serif; 
}
header .logo, footer .logo
{
    flex-grow: 1;
    height: 22px;
}
header .logo span,
footer .logo span{
    background: url('../images/logo.png') no-repeat;
    display: inline-block;
    width: 58px;
    height: 24px;
}
footer{
    background: #1f1f1f;
    margin-top: 30px;
}


/*=============================================
                HOME SLIDER STYLES
==============================================*/

.slider-items{
    height: 500px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    font-family: 'Fjalla One', sans-serif;
}
.slider-items .caption {
    color: #fff;
    position: absolute;
    right: 0px;
    text-align: right;
    padding: 20px;
    width: 320px;
    text-transform: uppercase;
}
.slider-items .caption h4{
    font-weight: 300;
    margin: 0;
}

.slider-items .caption p{
    font-size: 70px;
    margin-top: 0px; 
}


/*=============================================
                Subscribe Panel CSS
==============================================*/

.subscribe_panel{
    text-align: center; 
    /* width: 350px; */
    /* margin: 0 auto; */
}
.subscribe_panel h3{
    margin-bottom:  0;
    font-family: 'Fjalla One', sans-serif;
    font-style: 35px;
    font-weight: 300;
}

.subscribe_panel form input{ 
    font-family: 'Roboto Slab', serif;
    border-radius: 20px;
    border:  3px solid #dddddd;
    padding: 10px;
    /* width: 50vw; */
    min-width: 200px;
    text-align: center;
    font-size: 19px;
    margin: 10px 0px;
}
.subscribe_panel form input:focus{
    outline-style: none;
}
.subscribe_panel small{
    width: 50%;
    font-size: 13px;
    line-height: 0px;
    margin: auto;
}

.subscribe_panel .error {
    color: #f44336;
    display: none;
}

.subscribe_panel .subscribed{
    color: #f44336;
    display: none;
}
.subscribe_panel .success{ 
    display: none;
    color: #4caf50;
}

.subscribe_panel .error.show,
.subscribe_panel .success.show,
.subscribe_panel .subscribed.show
{
    display: block;
}

/*=============================================
                Blockes Panel CSS
==============================================*/
.home_blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.home_blocks .item {
    flex-grow: 1;
    position: relative;
    height: 270px;
    overflow: hidden;
}
.home_blocks .item.lg{
    width: 50%;
}
.home_blocks .item.md{
    width: 30%;
}
.home_blocks .item.sm{
    width: 20%; 
}
.home_blocks .item .image{
    height: 270px;
    background-size: cover !important;
    background-position: center center !important;
}
.home_blocks .item .title{
    background: #1b1b1b;
    /* color: #dddddd; */
    padding: 10px;
    height: 50px;
    transition: all 500ms ease-in-out;
}
.home_blocks .item:hover .title{
    transform:  translate(0px , -39px);
    transition: all 500ms ease-in-out;
}
.home_blocks .item .title a{
    color: #fff;
}

.home_blocks .item.lg{
    animation-delay: 200ms !important;
}
.home_blocks .item.md{
    animation-delay: 500ms !important;
}
.home_blocks .item.sm{
    animation-delay: 800ms !important;
}

.home_blocks .item .veil{
    background: #1f1f1f;
    opacity: .7;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 500ms ease-in-out; 
}
.home_blocks .item:hover .veil{
    opacity: 0;
    transition: opacity 500ms ease-in-out; 
}


/*=============================================
                Team Poll CSS
==============================================*/
.home_poll{
    text-align: center;
    /* width: 70%; */
    margin: 0 auto; 
}

.poll_container{
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    min-width: 300px;
}

.poll_container .poll_items{
    padding: 20px;
    flex-grow: 1;
    
}

.poll_container .poll_items img{
    width: 80%;
    background-size: cover;
}

.poll_container .poll_items div{
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
}


/*=============================================
                Teams Component CSS
==============================================*/

.teams_component{
    text-align: center;
    margin:  0 auto;
    /* width: 800px; */
    min-height: 550px;
}

.teams_input{
    text-align: center;
    padding: 20px 0px;
    background: #e6e6e6;
}

.teams_input input{
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    border: 1px solid lightgray;
    color: #1b1b1b;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
.teams_input input:hover{
    outline: none;
}
.teams_container span{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.teams_container .team_item{
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}
.teams_container .team_item img{
    width:  100%;
}



/*=============================================
                FADE
==============================================*/

.fade-appear{
    opacity: 0.01;
}
.fade-appear.fade-appear-active{
    opacity: 1;
    transition: all .5s ease-in;
}
.fade-enter {
    opacity: 0.01;
}
.fade-enter.fade-enter-active{
    opacity: 1;
    transition: all .5s ease-in;
}
.fade-leave{
    opacity: 1;
}
.fade-leave.fade-leave-active{
    opacity: 0.01;
    transition: all .5s ease-in;
}

/*=============================================
                TEAM    
==============================================*/

.team_detail_wrapper{
    display: flex;
}

.team_detail_wrapper .left{
    box-sizing: border-box;
    padding: 10px 20px;
}
.team_detail_wrapper .left img{
    width: 150px;
}
.team_detail_wrapper .right{
    box-sizing: border-box;
    flex-grow: 1;
    border-left: 1px solid #b9b9b9;
    padding: 0px 10px;
}
.team_detail_wrapper .right h1{

    color: #6d6d6d;

}
.team_detail_wrapper .squad{
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team_detail_wrapper .squad .item{
    position: relative;
    width: 25%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
}
.team_detail_wrapper .squad .item img{
    width: 40%;
    display: block;
    margin: 0 auto;
}

.team_detail_wrapper .squad .item h4{
    text-align: center;
    color: #006bb6;
}

.team_detail_wrapper .squad .item .node{
    font-size: 14px;
    padding: 4px 0;

}
.team_detail_wrapper .squad .item .node span{
    font-weight: 600; 
}