body{
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto Slab', serif;
    color: #1b1b1b;
}

.flexbox-container{
     display: -ms-flex;
     display: flex;
     display: -webkit-flex; 
}

a{
    text-decoration: none;
    color: #1b1b1b;
}

h3{
    font-family: 'Fjalla One', sans-serif;
    
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 0;
}
h4{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin: 15px 0 5px;
}

/*=============================================
                HEADER-FOOTER STYLES
==============================================*/

header{
    border-bottom: 1px solid #e2e2e2;
}

header,footer{

     background: #fff;
     align-items: center;
     padding: 10px;
     font-family: 'Fjalla One', sans-serif; 
}
header .logo, footer .logo
{
    flex-grow: 1;
    height: 22px;
}
header .logo span,
footer .logo span{
    background: url('../images/logo.png') no-repeat;
    display: inline-block;
    width: 58px;
    height: 24px;
}
footer{
    background: #1f1f1f;
    margin-top: 30px;
}


/*=============================================
                HOME SLIDER STYLES
==============================================*/

.slider-items{
    height: 500px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    font-family: 'Fjalla One', sans-serif;
}
.slider-items .caption {
    color: #fff;
    position: absolute;
    right: 0px;
    text-align: right;
    padding: 20px;
    width: 320px;
    text-transform: uppercase;
}
.slider-items .caption h4{
    font-weight: 300;
    margin: 0;
}

.slider-items .caption p{
    font-size: 70px;
    margin-top: 0px; 
}



.subscribe_panel{
    
}